body {
    background-color: #113E01;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #22c7f5;
    text-align: center;
}
h2 {
    text-align: left;
    color: #22c7f5;
}
.about {
    text-align: left;
    offset: 50px;
    color: rgb(230, 215, 2);
}
.skills {
    text-align: left;
    offset: 50px;
    color: rgb(21, 202, 243);
}
.projects {
    display:flex; 
    flex-wrap:wrap;
    text-align: left;
    offset: 50px;
    color: rgb(112, 0, 249);
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 10%;
}
a {
    text-decoration: none;
    color: blue;
}
.project p {
    text-align: center;
    margin: 15px;
}
.project img {
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 2px solid rgb(6, 176, 203); 
    display: block;
    margin: auto;
}
.contact {
    text-align: left;
    offset: 50px;
    color: rgb(40, 230, 2)
}