body {
    background-color: #113E01;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #22c7f5;
    text-align: center;
}
h2 {
    text-align: left;
    color: #22c7f5;
}